@font-face {
    font-family: Alliance;
    src: url(/assets/fonts/AllianceNo.1-Light.otf);
}

@font-face {
    font-family: MontHeavy;
    src: url(/assets/fonts/Mont-HeavyDEMO.otf);
}

/*must be present in all webpages*/
.nav { 
    position: relative;
    bottom: 0;
    height: 4rem;
    width: 100%;
    border: 2px solid white;
    border: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    overflow: hidden;
}

#nav-items {
    margin-top: 15px;
}

.nav-link{
    font-family: MontHeavy;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 3rem;
    color: #00010f;
    transition: 1s;
}

.active {
    transition: 1s;
    border-radius: 7px;
    background-color: #b514ff;
    color: #00010f;
}
/*must be present in all webpages*/

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: #00010f;
    color: white;
}

#header {
    overflow: hidden;
    font-size: 100px;
    font-family: MontHeavy;
    margin: 0;
}

#header > div {
    display: flex;
}

#header p {
    margin: 0;
}

#header .below{
    rotate: -180deg;
    transform: translate(-80px, 76px);
}

#grid {
    display: grid;
    padding: 1rem;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-auto-rows: 240px;
}

#grid > div {
    background-size: cover;
    background-position: center;
}

#grid span {
    display: none;
}

/* mobile */

@media screen and (max-width: 599px) {
    .nav { 
        position: fixed;
        bottom: 0;
        height: 2.5rem;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border: none;
        z-index: 3;
    }
    
    #nav-items {
        margin-top: .6em;
    }
    
    .nav-link{
        font-family: MontHeavy;
        font-size: 0.9em;
        text-decoration: none;
        padding: 0.2em;
        color: #00010f;
        transition: 1s;
    }
    
    .active {
        transition: 1s;
        border-radius: 7px;
        background-color: #b514ff;
        color: #00010f;
    }

    #header > div > p:nth-child(2), p:nth-child(3){
        display: none;
    }
}

@media screen and (min-width: 600px) {
    .card-tall {
        grid-row: span 2 / auto;
    }
    
    .card-wide {
        grid-column: span 2 / auto;
    }

    .card-wider {
        grid-row: span 2 / auto;
        grid-column: span 3 / auto;
    }
}

@media screen and (min-width: 600px) and (max-width: 992px) {
    .nav-link{
        font-family: MontHeavy;
        font-size: 110%;
        padding: 1.5em;
        text-decoration: none;
        color: #00010f;
        transition: 1s;
    }
}
