@font-face {
    font-family: Alliance;
    src: url(/assets/fonts/AllianceNo.1-Light.otf);
}

@font-face {
    font-family: MontHeavy;
    src: url(/assets/fonts/Mont-HeavyDEMO.otf);
}

/*must be present in all webpages*/
.nav { 
    position: relative;
    bottom: 0;
    height: 4rem;
    width: 100%;
    border: 2px solid white;
    border: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    overflow: hidden;
}

#nav-items {
    margin-top: 15px;
}

.nav-link{
    font-family: MontHeavy;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 3rem;
    color: #00010f;
    transition: 1s;
}

.active {
    transition: 1s;
    border-radius: 7px;
    background-color: #b514ff;
    color: #00010f;
}
/*must be present in all webpages*/

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    position: relative;
    margin: 0;
    background-color: #00010f;
    color: white;
}

.container {
    margin-bottom: 10%;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 1rem 0 1rem;
}

.projects > span {
    position: relative;
    white-space: nowrap;
    max-width: 100vw;
    font-size: clamp(3rem, 10vw, 5rem);
    transform: translateX(-10%);
    font-family: MontHeavy;
}

.images {
    display: grid;
    row-gap: 3%;
}

.images .row-wrapper {
    display: grid;
    grid-template-columns: 60% 40%;
    border: 1px solid white;
    border-radius: 10px;
}

.images div.second {
    grid-template-columns: 40% 60%;
}

.images div.second .hide-1 {
    display: none;
}

.images img {
    width: 100%;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
}

.row-wrapper .text {
    padding: 5%;
}

.row-wrapper .text span {
    font-family: MontHeavy;
    font-size: clamp(1.4rem, 4vw, 10rem);
}

.row-wrapper .text p {
    line-height: clamp(0.8rem , 1.5vw, 1.25rem);
    font-size: clamp(0.8rem, 1.4vw, 10rem);
    font-family: Alliance;
}

/*mobile*/

@media screen and (max-width: 599px) {
    .nav { 
        position: fixed;
        bottom: 0;
        height: 2.5rem;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border: none;
        z-index: 3;
    }
    
    #nav-items {
        margin-top: .6em;
    }
    
    .nav-link{
        font-family: MontHeavy;
        font-size: 0.9em;
        text-decoration: none;
        padding: 0.2em;
        color: #00010f;
        transition: 1s;
    }
    
    .active {
        transition: 1s;
        border-radius: 7px;
        background-color: #b514ff;
        color: #00010f;
    }

    .images .row-wrapper, .images div.second {
        grid-template-columns: auto;
    }

    .images div.second .hide-1 {
        display: block;
    }

    .images div.second .hide-2 {
        display: none;
    }
}

@media screen and (min-width: 600px) and (max-width: 992px) {
    .nav-link{
        font-family: MontHeavy;
        font-size: 110%;
        padding: 1.5em;
        text-decoration: none;
        color: #00010f;
        transition: 1s;
    }
}