@font-face {
    font-family: Alliance;
    src: url(/assets/fonts/AllianceNo.1-Light.otf);
}

@font-face {
    font-family: MontHeavy;
    src: url(/assets/fonts/Mont-HeavyDEMO.otf);
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: #00010f;
    color: white;
}

.container > div {
    margin-top: 5%;
    margin-bottom: 5%;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 60%;
    padding: 1rem;
    border: 1px white solid;
    font-family: MontHeavy;
    font-size: clamp(1.1rem, 2.5vw, 2.8rem);
    text-align: center;
    border-radius: 20px;
    color: white;
}

.txt-field div {
    position: relative;
    font-family: Alliance;
}

.field {
    width: 80%;
    font-size: 1em;
    background: none;
    border: 2px white solid;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 10%;
    color: white;
}

.txt-field div label {
    opacity: 0.5;
    position: absolute;
    margin-top: clamp(-40%, 8%, 40%);
    left: clamp(5%, 10%, 40%);
    transition: 0.4s;
    pointer-events: none;
}

.txt-field div span {
    position: absolute;
    margin-top: clamp(3.2rem,9.5vw,8rem);
    font-size: 0.5em;
    left: clamp(1rem, 6vw, 10rem);
    pointer-events: none;
    opacity: 0.5;
    transition: 0.4s;
}

input:focus ~ label,
input:placeholder-shown ~ label,
input:valid ~ label {
    content: '';
    position: absolute;
    font-size: 0.8em;
    transform: translateY(clamp(-3vw, -2vw, -1vw));
    left: clamp(1rem,6vw,10rem);
    opacity: 1;
}

input:focus ~ span,
input:placeholder-shown ~ span,
input:valid ~ span {
    opacity: 1;
}

input:focus,
input:valid,
input:placeholder-shown {
    outline: none;
}

.form-container form .txt-field #submit {
    display: block;
    margin: auto;
}

input[type="submit"] {
    width: 50%;
    padding: clamp(0.3rem, 1vw, 2rem);
    border-radius: 2em;
    font-size: clamp(0.5rem, 6vw, 2rem);
    font-family: MontHeavy;
    border: 1px solid white;
    background-color: #00010f;
    color: white;
}

input[type="submit"]:hover,
input[type="submit"]:active {
    border: 1px solid #b514ff;
    background-color: #b514ff;
    color:#00010f;
    transition: 0.4s;
}

/* mobile */

@media screen and (min-width: 600px) and (max-width: 992px) {
    input.field {
        font-size: 0.8em;
    }
}