@font-face {
    font-family: Alliance;
    src: url(/assets/fonts/AllianceNo.1-Light.otf);
}

@font-face {
    font-family: MontHeavy;
    src: url(/assets/fonts/Mont-HeavyDEMO.otf);
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: #00010f;
    color: white;
}

#header {
    overflow: hidden;
    font-size: 100px;
    font-family: MontHeavy;
    margin: 0;
}

#header > div {
    display: flex;
}

#header p {
    margin: 0;
}

#header .below{
    rotate: -180deg;
    transform: translate(-80px, 76px);
}

#grid {
    display: grid;
    padding: 1rem;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-auto-rows: 240px;
}

#grid > div {
    background-size: cover;
    background-position: center;
}

#grid span {
    display: none;
}

/* mobile */

@media screen and (min-width: 600px) {
    .card-tall {
        grid-row: span 2 / auto;
    }
    
    .card-wide {
        grid-column: span 2 / auto;
    }

    .card-wider {
        grid-row: span 2 / auto;
        grid-column: span 3 / auto;
    }
}
