@font-face {
    font-family: Alliance;
    src: url(/assets/fonts/AllianceNo.1-Light.otf);
}

@font-face {
    font-family: MontHeavy;
    src: url(/assets/fonts/Mont-HeavyDEMO.otf);
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    position: relative;
    margin: 0;
    background-color: #00010f;
    color: white;
}

.container {
    margin-bottom: 10%;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 1rem 0 1rem;
}

.projects > span {
    position: relative;
    white-space: nowrap;
    max-width: 100vw;
    font-size: clamp(3rem, 10vw, 5rem);
    transform: translateX(-10%);
    font-family: MontHeavy;
}

.images {
    display: grid;
    row-gap: 3%;
}

.images .row-wrapper {
    display: grid;
    grid-template-columns: 60% 40%;
    border: 1px solid white;
    border-radius: 10px;
}

.images div.second {
    grid-template-columns: 40% 60%;
}

.images div.second .hide-1 {
    display: none;
}

.images img {
    width: 100%;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
}

.row-wrapper .text {
    padding: 5%;
}

.row-wrapper .text span {
    font-family: MontHeavy;
    font-size: clamp(1.4rem, 4vw, 10rem);
}

.row-wrapper .text p {
    line-height: clamp(0.8rem , 1.5vw, 1.25rem);
    font-size: clamp(0.8rem, 1.4vw, 10rem);
    font-family: Alliance;
}

/*mobile*/

@media screen and (max-width: 599px) {
    .images .row-wrapper, .images div.second {
        grid-template-columns: auto;
    }

    .images div.second .hide-1 {
        display: block;
    }

    .images div.second .hide-2 {
        display: none;
    }
}